// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$material-symbols-outlined:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48;
